.keys {
  height: 90px;
  width: 90px;
  text-align: center;
  background-image: url("http://static3.bigstockphoto.com/thumbs/9/6/1/small2/16955483.jpg");
  background-size: cover;
  color: white;
  font-size: 25px;
  font-family: courier;
  display: inline-block;
  margin: 2px;
  border-radius: 20px;
  line-height: 70px;
}
.bug{
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url(http://pldh.net/media/pokemon/gen4/hgss/010.png);
  position: absolute;
  z-index: 1;
}
.bug2 {
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-image: url(http://pldh.net/media/pokemon/gen4/hgss/012.png);
  position: absolute;
  z-index: 2;
}
.kill {
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url(http://designertuts.com/assets/images/tuts/2007/07/splat.png);
  position: absolute;
  z-index: 1;
}
.kill2 {
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url(http://www.artistick.com/media/wysiwyg/620-crazy-paint.png);
  position: absolute;
  z-index: 2;
}

#keyboard {
  width: 980px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  background: #d8d8d8;
  padding: 10px;
  text-align: center;
  float: left;
  position: absolute;
  left: 140px;
  top: 270px;
  z-index: 0;

}

#canvas {
  width: 1300px;
  height: 650px;
  background-image: url(http://epsolutions.centraldesktop.com/referralinformation/media/Desktop%20Template.jpg);
  background-size: 100%;
  position: relative;
}
#spawner {
  position: absolute;
  float: left;
  border: 1px solid black;
  height: 5px;
  width: 5px;
z-index: 1;
}
#counter {
  color: green;
  text-align: center;
  font-size: 50px;
  z-index: 1;
}





